body{
font-family:Segoe UI;
background:#0e1117;
color:white;
margin:0;
}

.log {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.log-title {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.log-content {
  display: none;
  margin-top: 8px;
}

.site-footer{
margin-top:40px;
padding:20px;
background:#111;
color:#aaa;
font-size:14px;
}

.footer-content{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.footer-right a{
color:#aaa;
text-decoration:none;
display:flex;
align-items:center;
gap:6px;
}

.footer-right a:hover{
color:white;
}

.icon{
width:16px;
height:16px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#161b22;
}

.logo{
font-size:20px;
font-weight:bold;
}

.navbar input{
padding:8px 12px;
border-radius:6px;
border:none;
}

section{
padding:40px;
}

.tags span{
background:#21262d;
padding:8px 14px;
border-radius:10px;
margin:5px;
cursor:pointer;
display:inline-block;
}

.addon-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.card{
background:#161b22;
border-radius:12px;
overflow:hidden;
cursor:pointer;
transition:0.25s;
}

.card:hover{
transform:translateY(-5px);
}

.addon-banner{
position:relative;
width:100%;
padding-top:56.25%;
margin:20px 0;
border-radius:12px;
overflow:hidden;
}

.addon-banner iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:none;
}
.addon-banner img{
width:100%;
height:180px;
object-fit:image;
display:block;
}

.brand{
display:flex;
align-items:center;
gap:10px;
}

.brand-link{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
color:white;
}

.logo{
width:32px;
height:32px;
object-fit:contain;
}

.site-title{
font-size:20px;
font-weight:700;
letter-spacing:0.5px;
}

.card img{
width:100%;
height:170px;
object-fit:cover;
}

.card-body{
padding:15px;
}

.card-title{
font-size:18px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:10px;
}

.download-box{
background:#161b22;
padding:15px;
margin:10px 0;
border-radius:8px;
display:flex;
justify-content:space-between;
}

button{
background:#238636;
border:none;
padding:8px 14px;
border-radius:6px;
color:white;

}


